@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rowdies";
  src: url("./assets/fonts/Rowdies/Rowdies-Regular.ttf") format("truetype"),
    url("./assets/fonts/Rowdies/Rowdies-Bold.ttf") format("truetype"),
    url("./assets/fonts/Rowdies/Rowdies-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-rowdies;
}
